<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ source }}</mat-card-subtitle>
        <mat-card-subtitle>{{ date }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [attr.src]="imgUrl" />
    <mat-card-content>
        <p>{{ content }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isPersonal">
        <button mat-button><a [routerLink]="['/edit/' + id]">EDIT</a></button>
        <button mat-button (click)="onDelete()">DELETE</button>
    </mat-card-actions>
</mat-card>
