<mat-toolbar color="primary" class="action-bar">
    <mat-form-field>
        <mat-select
            placeholder="Sources"
            (selectionChange)="onSourceSelect($event)"
        >
            <mat-option
                *ngFor="let source of (sources$ | async)"
                [value]="source.id"
            >
                {{ source.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox (change)="toggleCreatedByMe($event)" [checked]="true"
        >Only created by me</mat-checkbox
    >

    <mat-form-field>
        <input matInput [formControl]="filterField" placeholder="Filter" />
    </mat-form-field>
    <button mat-flat-button (click)="onFilter()">
        Filter!
    </button>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-flat-button>
        <a [routerLink]="['/create']">Add article</a>
    </button>
</mat-toolbar>
